@import url("../reset-css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    /* purple colors*/
    --dark-purple: #2E0A4F;
    --navy-blue: #21133B;
    --minimal-light-navy-blue: #351156;
    --light-navy-blue: #442364;

    --black: #000000;
    
    --lightB-purple: #BB00FF;
    --minimal-purple8: #8720AD;
    --minimal-purple5: #530073;
    --minimal-purple7 : #7800A3;
    --dark-purple3: #390E60;
    --dark-purple2: #2B084B;

    --gold: #FFC300;

    --gray: #AFAFAF;
    --white: #ffffff;
    --ice-white: #EDF4F5;

    --green: #00FF5D;

    /* gradients */
    --home-gradient: linear-gradient(to bottom, #362752, #19092B 70% , #10001F);
    --next-mission-gradient: linear-gradient(to right bottom , #390E60, #4E2079);
    --online-gradient: linear-gradient(to right bottom , #9008D5, #7B00A8);

    /* shadow */
    --navbar-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    --icons-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    --start-mission-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    --lets-go-btn-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html {
    font-family: 'Comfortaa', cursive;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.text-capitalize {
    text-transform: capitalize;
}

.caveat-font {
    font-family: 'Caveat', cursive ;
}