@import url(../../components/custom/custom.css);

body {
    height: 100vh ;
    background: var(--home-gradient);
    display: flex;
    justify-content: center;
}

/* ! ---------------------------- triangle overlay ---------------------------- ! */
.triangle-overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 70%;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
.triangle-overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-purple);
    opacity: 0.3;
}
/* ! -------------------------------- container ------------------------------- ! */
.container {
    width: 80%;
    max-width: 1365px;
    margin-top: 70px;
}
/* ! --------------------------------- navbar --------------------------------- ! */
.navbar {
    width: 100%;
    height: 75px;
    border-radius: 25px;
    background: var(--navy-blue);
    border: var(--black) 1px solid;
    box-shadow: var(--navbar-shadow);
    display: flex;
    align-items: center;
}
/* ! ------------------------------ user profile ------------------------------ ! */
.user-profile {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 11px;
}
.profile {
    width : 55px;
    height: 55px;
    border-radius: 17px;
    overflow: hidden;
}
.profile img {
    object-fit: cover;
}
.profile-description {
    margin-left: 13px;
}
.profile-desc-name, .profile-desc-level {
    color: var(--lightB-purple);
}
.profile-desc-name {
    font-size: 1.1rem;
}
.profile-desc-level {
    font-size: 0.7rem;
    margin-top: 7px;
    color: var(--gray);
}
/* ! ------------------------------- navbar nav ------------------------------- ! */
.navbar-nav {
    margin-left: auto;
    margin-right: 17px;
    height: 100%;
}
.nav-ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}
.nav-link {
    text-decoration: none;
}
.nav-item:not(:first-child) {
    margin-right: 20px;
}
.nav-link-setting {
    background: var(--minimal-purple7);
    border: 1px solid var(--minimal-purple8);
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--ice-white);
    box-shadow: var(--icons-shadow);
    fill: var(--ice-white);
}
.nav-link-setting svg {
    margin-left: 5px;
}
.nav-link-light-theme, .nav-link-map {
    background: var(--minimal-light-navy-blue);
    border: 1px solid var(--light-navy-blue);
    cursor: pointer;
    box-shadow: var(--icons-shadow);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.nav-link-light-theme {
    font-size: 1.3rem;
    color: var(--gold);
}
.nav-link-map {
    font-size: 1rem;
    stroke: var(--ice-white);
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    column-gap: 40px;
}
/* ! ------------------------------ left section ------------------------------ ! */
.left-section {
    width: 80%;
}
.left-section-title {
    font-size: 2rem;
    color: var(--white);
    margin-left: 5px;
}
.left-section-title span {
    color: var(--dark-purple3);
    font-weight: bolder;
}
.left-section-boxes-wrap {
    width: 88%;
}
/* ! ---------------------------- next mission box ---------------------------- ! */
.next-mission-box {
    height: 115px;
    margin-top: 30px;
    border-radius: 40px;
    background: linear-gradient(to right bottom , #390E60, #4E2079);
    box-shadow: var(--start-mission-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.mission-desc-awards-title {
    color: var(--gold);
    font-size: 1.8rem;
}
.mission-desc-level {
    margin-top: 12px;
    color: var(--ice-white);
    font-size: 12px;
    display: flex;
    align-items: center;
}
.green-circle {
    width: 15px;
    height: 15px;
    background: var(--green);
    border-radius: 100%;
    display: inline-block;
    margin-left: 6px;
    margin-right: 17px;
}
.next-mission-buttons {
    display: flex;
}
.next-mission-question-btn {
    width : 43px;
    height: 43px;
    border-radius: 100%;
    background: var(--dark-purple3);
    border: 1px solid var(--dark-purple2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--gold);
}
.lets-go-btn {
    margin-right: 20px;
    border-radius: 50px;
    padding: 0 30px;
    font-size: 1rem;
    background: var(--gold);
    box-shadow: var(--lets-go-btn-shadow);
    border: none;
}
/* ! ------------------------------ right section ----------------------------- ! */
.right-section {
    width: 40%;
}